<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">

                <ul class="list-group">
                    <li class="list-group-item"  *ngFor="let student of students">
                      <a [routerLink]="student.StudentId" routerLinkActive="router-link-active" >{{student.FirstName +" "+ student.LastName}}</a>

                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="12" routerLinkActive="router-link-active" >Test Load 12</a>
  
                      </li>
  

                </ul>
            </div>
             <div class="col-md-10">
                 <router-outlet></router-outlet>
                
             </div>
        </div>
    </div>
</div>   
