<h1> String interpolation example</h1>

<div class="alert alert-success" role="alert">
    <strong>{{num1}}</strong> <br>
    <strong>{{name}}</strong> <br>

    <strong>{{userFlag}}</strong> <br>
    <strong>{{person.Name}}</strong> <br>
    <strong>{{person.Age}}</strong> <br>
    <strong>{{person.Address.AddLine1}}</strong> <br>
    <strong>{{5+5}} </strong> <br>
    <strong>{{num1+num2}}</strong> <br>
    <!-- <strong>{{num1, num2}}</strong> <br> // Error -->
    <strong>{{name1+name2}}</strong> <br>
    <strong>{{GetFullName()}}</strong> <br>
    
    
</div>